<div class="city" class="app">
 <div class= "form">
    <h1 class="title">Cities:</h1>

    <form action="/view/{{id}}" method:"get">
    <label for="cities">Pick a destination:</label>


    <ul >
        {{#each cityList}}
        <li> <a href ="/view/{{id}}">{{name}}</a></li>
        {{/each}}
    </ul>
    </div>

  {{!-- <select>
      {{#each cityList}}
      <option value="{{this.id}}">{{this.name}}</option>
      {{/each}} --}}
  
     {{!-- <input type="submit" value="Lessssgo!!!"> --}}
    {{!-- </select> --}}


{{!-- <button><a href = '/'>Current assignments</a></button> --}}
<br>
<br>

<br>
</div>


<img class="center" src="/images/images/welcometoNZ.jpg" alt="welcome to NZ">



