<div class="landmark">
    <h1 class="title">Auckland City Landmarks</h1>
    
        {{#each landmarkList}}
        <div class="landmark-list"></div>
        <a href="/{{id}}"><img class="img-circle" src="{{image}}" alt="{{name}}"></a>
        <p>LandmarkName: <a href ="/landmark/{{id}}">{{landmark.name}}</a></p>
        </div>
        {{/each}}

  {{!-- <h1>Landmark Name:  {{landmark.name}}</h1>
  <div>Landmark Description: {{landmark.description}}</div>
  <div></div> --}}
  <br>
</div>
