<div class="landmark">
    <h1 class="title">Auckland City Landmarks</h1>
    
        {{#each landmarkList}}
        <div class="column">
          <div class="row">
        <a href="/{{id}}"><img  class="img-circle" class="container" src="{{this.image}}" alt="{{this.name}}"></a>
        <p>LandmarkName: <a href ="/landmark/{{id}}">{{this.name}}</a></p>
        </div>
        </div>
        {{/each}}

  {{!-- <h1>Landmark Name:  {{landmark.name}}</h1>
  <div>Landmark Description: {{landmark.description}}</div>
  <div></div> --}}
  <br>
</div>
